.paginado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.boton {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: #e8e6e6;
  color: rgb(64, 0, 85);
  border: 1px solid rgb(64, 0, 85);
  transition: all 0.3s;
  cursor: pointer;
}

.boton:hover {
  background-color: #090909;
  color: #fff;
  border: 1px solid #fff;
}

.boton.activo {
  background-color: #090909;
  color: #fff;
  border: 1px solid #090909;
}
